{% from "macros.html" import modal_delete with context %}
{% extends "layout.html" %}

{% block title %}Список сервисов{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xl-12">
            <div class="card-box">
                <div class="row mb-3">
                    <div class="col-sm-9">
                        <h4 class="header-title mb-3 ">
                            Список сервисов:
                        </h4>
                    </div>
                    <div class="col-sm-3 float-right">
                        <a class="btn btn-success float-right" href="{{ url_for(".service_create") }}">Добавить</a>
                    </div>
                </div>

                <div class="table-responsive table-format table-striped">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Операции</th>
                        </tr>
                        </thead>

                        <tr>
                            <td>-</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-secondary btn-number_port">
                                    Default
                                </button>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton00" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Операции
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton00">
                                        <a class="dropdown-item"
                                           href="{{ url_for('.radgpreply_list', service_id=0) }}">Атрибуты</a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        {% for service in services %}
                            <tr>
                                <td>{{ service.id }}</td>
                                <td>{{ service.name }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button"
                                                id="dropdownMenuButton{{ service.id }}" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Операции
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ service.id }}">
                                            <a class="dropdown-item"
                                               href="{{ url_for('.service_edit', id=service.id) }}">Изменить</a>
                                            <a class="dropdown-item"
                                               href="{{ url_for('.radgpreply_list', service_id=service.id) }}">Атрибуты</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"
                                               data-href="{{ url_for('.service_delete', id=service.id) }}"
                                               data-toggle="modal"
                                               data-target="#modalDelete">
                                                Удалить
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ modal_delete('Удаление сервиса') }}

{% endblock %}