{% extends "layout.html" %}

{% block title %}Список сетей{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xl-12">
            <div class="card-box">
                <div class="row mb-3">
                    <div class="col-sm-9">
                        <h4 class="header-title mb-3 ">
                            Статистика по клиентам:
                        </h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-4 offset-sm-4">
                        <canvas id="doughnut-chart" width="200px" height="200px"></canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block headerStyle %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/chart/Chart.min.css') }}">
{% endblock %}

{% block footerJS %}
    {{ super() }}

    <script src="{{ url_for('static', filename='vendor/chart/Chart.bundle.min.js') }}"></script>
    <script>

        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
                labels: [
                    "Подключено ",
                    "Отключено ",
                    "Должники ",
                    "Пауза ",
                    ],
                datasets: [
                    {
                        label: "Клиентов - {{ cl_connect + cl_off + cl_debt + cl_pause }}",
                        backgroundColor: [
                            "#00CC33",
                            "#CC0000",
                            "#ffb207",
                            "#c3ff17",
                        ],
                        data: [
                            {{ cl_connect }},
                            {{ cl_off }},
                            {{ cl_debt }},
                            {{ cl_pause }},
                        ]
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Клиентов - {{ cl_connect + cl_off + cl_debt + cl_pause }}'
                }
            }
        });
    </script>
{% endblock %}