{% from "macros.html" import make_form with context %}
{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ title }}</h2>
        </div>
        <div class="card-body">

            <form action="" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="city">Город</label>
                    <div class="col-sm-10">
                        <select name="city" id="city" class="custom-select">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="street">Улица/район</label>
                    <div class="col-sm-10">
                        <select name="street" id="street" class="custom-select">
                            <option value="">Выберите улицу/район</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="building">Сооружение</label>
                    <div class="col-sm-10">
                        <select name="building" id="building" class="custom-select">
                            <option value="">Выберите сооружение</option>
                        </select>
                    </div>
                </div>
                {{ make_form(form, style='rows', btn_submit=True) }}
            </form>

        </div>
    </div>
{% endblock %}